# Big Data

## Types
- Structured(Stablized Data)
- Document
- Unstructured(General big-data)

## DBMS
- To manage data, use Database Management System

## Data Warehouse
- To analysis data and get BI, use Data Warehouse

## Data Lakehouse
- More general Data Warehouse(including raw data)

## Background Tools
- NO-SQL(Little over-estimated. In memory, everything is fast)
- Single Machine, ...
- **Hadoob** and **MapReduce**

## Techniques

### Filtering
- To find data, use **filtering** based on the previous informations
- **RECOMMAND** the personal interests

### Searching
- To find data, use **searching** based on the specific queries

## Processing System
```
Collect data -> Save/Manage data -> Analysys data(Information) -> Use information(Service)
```

### Collect

#### Inner
- DBMS
- Structured Data

#### Outer
- Scraping
- Log
- Sensor
- RSS
- Open API
- ETL(Extract, Transformatin, Load)

### Save/Manage

#### Specify useful data
- Remove improper data

#### Distributed-system
- Hadoop
  - Based on MapReduce
  - Use Disk(Infra)
- Spark
  - Divided at Hadoop
  - Use memory(Processing tool)
  - For streaming(real-time services)
- MapReduce
  - created 'cause to index text do faster
  - by Google Searching
  - Tokenize each documents in slaves and Merge it. Finally, reduce it and make the result

### Analysys
- Extract keywords and make the insight
- Text / Web / Opinion / Reality / SNS Mining

#### Use
- Trend Report Service
- Reputation Analysys Service
- API Service
- Statical Chart Service

# DBMS

## Heading
| Data | Information|
|-|-|
| Raw facts | Processed Data |
| No context | Data with context |
| just numbers and text | valued data |

### The conditions of DB
- Integrated
  - Remove the duplecation
- Stored
- Shared
- Operational
  - Manage necessary data
  
### The Characteristics of DB
- Real-time Accessibility
- Continuous Evolution
- Concurrent Sharing
- Content Reference

### DBMS
- Manage the DB structures
- Control the accessibility to the data

### The benefits of RDBMS
- Data Safety
- Concurrent Access
- Fault Tolerance
- Data Integrity
- Scalability
- Reporting

### The concepts of RDBMS
- Relation(Table)
- Tuple(Row or Record)
- Attribute(Column or Field)
- Cardinality(Number of Rows)
- Degree(Number of Columns)
- Domain(Pool or legal values)
- Primary Key(Unique identifier)

### Entity-Relationship Model
- Entity
- Relationship
- Attribute
- Primary Key

## Design
- ER-Diagram


## SQL
- In the industry, **DELETE** data should not be used
```
UPDATE contry //UPDATE clause
SET population = population + 1 //SET clause
WHERE name = 'USA'; // WHERE clause
```
- ```name = 'USA'``` is **PREDICATE**
- ```population + 1``` or ```'USA'``` are **EXPRESSION**

### DDL
```CREATE TABLE [table name] ( [column definitions] ) [table parameters];```
- **DROP** removes instances
- **TRUNCATE** removes all informations, including environment's variables

### DCL
- Login as ```root```
- Create 

### DML
- INSERT
```INSERT INTO table (column1[, column2, ...]) VALUES (value1[, value2, ...]);```

or

```INSERT INTO table VALUES (value1[, value2, ...])```

If all attributes are filled

- SELECT
```
SELECT column1[AS rename][, column2, ...]
FROM table_name
[WHERE predicate]
[GROUP BY predicate [HAVING predicate]]
[ORDER BY order]
```
  - ```LIKE```
    - Find a string fitting a certaion description
    - ```%``` is same as ```+``` in RE
    - ```_``` is same as ```.``` in RE
- UPDATE
```
UPDATE table_name
SET column1 = value1, colume2 = value2, ...
WHERE predicate
```
  - Without ```WHERE``` clause, **ALL** records are selected
  
- JOIN
  - (INNER) JOIN
  - LEFT (OUTER) JOIN
    - Full left and matched right columns. If the lefts aren't in the right table, fill it NULL
  - RIGHT (OUTER) JOIN
    - Full right and matched left columns. If the rights aren't in the left table, fill it NULL
  - FULL (OUTER) JOIN
    - Full left and right columns. If the data not in either left or right, then fill it NULL
    - Very expensive(making all combinations)

## MySQL
```Usage: mysql [OPTIONS] [database]```
- To login, ```mysql -u user -p DBNAME```
- To use a graphical tool, ```brew install --cask mysqlworkbench```

## SQLite
https://www.sqlite.org/docs.html
- SQLite is independent with SQLServer, MySQL, etc
- Used as a cache of big RDBS, website, etc

### Characteristic
- Open Source DB
- Serverless(Direct I/O)
- Self-contained(Embedded)
- Single Dist File(Cross-platform)
- zero-configuration(No server, No setup)
- Supports RDBMS Features(ACID, SQL Syntax, Transactions, etc)

In [54]:
import sqlite3

# To access DBMS
# 1. Make connections (Connection Pool)
# 2. Call cursor(Client - Server)
#                 SQL  -> Result
#                 Cursor -> current in server
#                 Fetch <- Result
# The last cursor position is the last SELECT statements
# Fetch get the last cursor position

# 1. Connection
# the path is real path or :memory: for in memory
conn = sqlite3.connect(':memory:')
print(type(conn))
conn.close()

# Can use with-as statements
assert '__enter__' in dir(conn)
assert '__exit__' in dir(conn)

with sqlite3.connect(':memory:') as conn:
    # 2. Call cursor
    cur = conn.cursor() 
    
    # Execute for command
    # For applying SQL at an instance
    cur.execute('CREATE TABLE example (id, name);') # Default Domain is STRING
    cur.execute('INSERT INTO example(id, name) VALUES(30, "yyr")')
    cur.execute('SELECT * FROM example')
    # Fetch cursor
    print(cur.fetchone())
    
    cur.execute('INSERT INTO example(id, name) VALUES(?, ?);', [12, 'name']) # Q-mark selection
    cur.execute('INSERT INTO example(id, name) VALUES(:id, :name);', {'id': 3, 'name': 'wld'})
    cur.execute('SELECT * FROM example')
    print(cur.fetchmany(size=3))
    
    # For applying SQL at instances
    data = [(i+3, 'name'+str(i+3)) for i in range(5)]
    cur.executemany('INSERT INTO example(id, name) VALUES(?, ?);', data)
    cur.execute('SELECT * FROM example')
    print(cur.fetchall())
    
    # For applying multiple SQLs at once
    # If DB is changed, COMMIT statement must be first
    cur.executescript("INSERT INTO example(id, name) VALUES(50, 'test'); INSERT INTO example VALUES(100, 'wow')")
    conn.commit() # commit should do manually
    cur.execute('SELECT * FROM example')
    print(cur.fetchall())
    
    
    # If the change and search of data is done in a same script, the change may not be reflected
    cur.executescript('INSERT INTO example VALUES(100, "asdfg"); SELECT * FROM example WHERE id=="100"')
    assert cur.fetchall() == []
    
    # The history of SQL
    with open(r'sqlite.dump', 'w') as f: 
        for _ in conn.iterdump():
            f.write(_)

with sqlite3.connect(':memory:') as conn:
    cur = conn.cursor()
    with open(r'sqlite.dump', 'r') as f:
        transaction = ''.join(f.readlines())
        cur.executescript(transaction)

<class 'sqlite3.Connection'>
(30, 'yyr')
[(30, 'yyr'), (12, 'name'), (3, 'wld')]
[(30, 'yyr'), (12, 'name'), (3, 'wld'), (3, 'name3'), (4, 'name4'), (5, 'name5'), (6, 'name6'), (7, 'name7')]
[(30, 'yyr'), (12, 'name'), (3, 'wld'), (3, 'name3'), (4, 'name4'), (5, 'name5'), (6, 'name6'), (7, 'name7'), (50, 'test'), (100, 'wow')]

## Exercise

### Make music player DB
| Track | Length | Artist | Album | Genre | Rating | Count |
| -     |   -    |    -   |  -    |   -   |   -    |  -    |
| Memory | 3.44 | Cats | OST | Musical | 5.0 | 32 |

#### Requestments
- Search by music name, artist, album and genre
- Sorting by length rating and count
- Insert new albums(at least one music)
- Delete albums

#### Conceptional Modeling
ER Modeling
```
Artist  <--- Album  <------- 
                              Music
             Genre  <-------
```


#### Logical Modeling
```
Artist <--- ID
```

```
Album <---- ID, ArtistID
```

```
Genre <---- ID
```

```
Music <--- ID, Length, rating, count, artistID, genreID, albumID
```

In [139]:
# Pysical Modeling

import sqlite3

with sqlite3.connect(':memory:') as conn:
    cur = conn.cursor()
    cur.execute('''
        CREATE TABLE artist(id INTEGER PRIMARY KEY AUTOINCREMENT,
                            name TEXT NOT NULL)
    ''')
    cur.execute('''
        CREATE TABLE album(id INTEGER PRIMARY KEY AUTOINCREMENT,
                           name TEXT NOT NULL,
                           artistID INTEGER NOT NULL)
    ''')
    cur.execute('''
        CREATE TABLE genre(id INTEGER PRIMARY KEY AUTOINCREMENT,
                           name TEXT NOT NULL)
    ''')
    cur.execute('''
        CREATE TABLE music(id INTEGER PRIMARY KEY AUTOINCREMENT, 
                           name TEXT NOT NULL,
                           length FLOAT NOT NUll,
                           rating FLOAT,
                           count INTEGER NOT NULL DEFAULT 0,
                           artistID INTEGER NOT NULL,
                           genreID INTEGER NOT NULL,
                           albumID INTEGER NOT NULL)
    ''')
    
    singers = [['singer'+str(_)] for _ in range(10)] # To use executemany, wrap instance by list or tuple
    cur.executemany('INSERT INTO artist(name) VALUES(?);', singers)
    
    genres = [['OST'], ['ROCK']]
    cur.executemany('INSERT INTO genre(name) VALUES(?);', genres)
    
    conn.commit()
    
    albums = []
    for _ in range(10):
        album = {'artist': singers[_][0], 'name': 'first album'}
        albums.append(album)
    
    # With SQL
    # SELECT in INSERT statements
    cur.executemany('INSERT INTO album(name, artistID) VALUES(:name, (SELECT id FROM artist \
                    WHERE name=:artist))', albums)
    
    conn.commit()
    
    musics = []
    for _ in range(10):
        # Without SQL, indirectly access ID
        cur.execute('SELECT id FROM artist WHERE name="{}"'.format(singers[_][0]))
        artistID, = cur.fetchone() # (artistId, ) tuple, dim = 1
        
        cur.execute('SELECT id FROM genre WHERE name="ROCK"')
        genreID, = cur.fetchone()
        
        cur.execute('SELECT id FROM album WHERE name="{}" AND artistID="{}"'.format(albums[_]["name"], artistID))
        albumID, = cur.fetchone()
        
        music = {"name": "first music", "length": 3.14, "artistID": artistID, "genreID": genreID, "albumID":albumID}
        musics.append(music)
    cur.executemany('INSERT INTO music(name, length, artistID, genreID, albumID) \
                    VALUES(:name, :length, :artistID, :genreID, :albumID)', musics)
    
    conn.commit()
    
    # Save DB to local
    with open(r'musicplay.dump', 'w') as f:
        for dump in conn.iterdump():
            f.write(dump)

In [138]:
# Restore DB at local
import sqlite3

with sqlite3.connect(':memory:') as conn:
    cur = conn.cursor()
    with open(r'musicplay.dump', 'r') as f:
        transaction = ''.join(f.readlines())
        cur.executescript(transaction)
        conn.commit()
    
    # Searching
    query = 'SELECT artist.name as artist, album.name as album, genre.name as genre, music.name as music \
            FROM artist JOIN album ON album.artistID = artist.id JOIN music ON music.artistID = artist.ID \
            AND music.albumID = album.id JOIN genre ON music.genreID = genre.ID'
    cur.execute(query)
    for _ in cur.fetchall():
        print(_)

('singer0', 'first album', 'ROCK', 'first music')
('singer1', 'first album', 'ROCK', 'first music')
('singer2', 'first album', 'ROCK', 'first music')
('singer3', 'first album', 'ROCK', 'first music')
('singer4', 'first album', 'ROCK', 'first music')
('singer5', 'first album', 'ROCK', 'first music')
('singer6', 'first album', 'ROCK', 'first music')
('singer7', 'first album', 'ROCK', 'first music')
('singer8', 'first album', 'ROCK', 'first music')
('singer9', 'first album', 'ROCK', 'first music')

## ORM technique
https://www.sqlalchemy.org/

### General usage
- Accessing is fequently with different parameters. But, Not modifying it
- Examples
  - Login

In [149]:
!pip install pymysql
!pip install sqlalchemy

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.39-cp310-cp310-macosx_10_15_universal2.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 6.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.4.39